html,
body {
  padding: 0;
  margin: 0;
  font-family: satoshiregular, Helvetica, Arial, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

strong {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  color: theme("colors.grey.default");
}

.text {
  color: theme("colors.grey.default");
  font-size: 20px;
}

.button-global .button-icon {
  animation: mymove-image-icon-button 0.5;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}
.button-global .button-arrow {
  display: none;
}
.button-global .animation-button-text {
  animation: mymove-button-text 0.5s;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  white-space: nowrap;
}
.button-global:hover .button-icon {
  display: none;
}
.button-global:hover .button-arrow {
  display: block;
}
.button-global:hover .animation-arrow {
  animation: mymove-image-icon-arrow 0.5;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}
.button-global:hover .animation-button-text {
  animation: mymove-image-button-text 0.5s;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes mymove-image-icon-button {
  0% {
    margin-right: -10px;
  }
  25% {
    margin-right: 0px;
  }
  50% {
    margin-right: 5px;
  }
  75% {
    margin-right: 8px;
  }
  100% {
    margin-right: 5px;
  }
}
@keyframes mymove-image-button-text {
  0% {
    margin-right: -8px;
  }
  25% {
    margin-right: 15px;
  }
  50% {
    margin-right: 8px;
  }
  75% {
    margin-right: 3px;
  }
  100% {
    margin-right: 8px;
  }
}
@keyframes animation-button-text {
  0% {
    margin-right: -9px;
  }
  25% {
    margin-right: 9px;
  }
  50% {
    margin-right: -9px;
  }
  75% {
    margin-right: 15px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes mymove-image-icon-arrow {
  0% {
    margin-right: 15px;
  }
  50% {
    margin-right: 0px;
  }
  100% {
    margin-right: 5px;
  }
}
.menu-select-naka.active {
  background-color: theme("colors.error.main") !important;
  color: theme("colors.white.default") !important;
}
.menu-select-naka.active .MuiSvgIcon-root {
  color: theme("colors.white.primary") !important;
}
.menu-select-naka .text-end-select-naka .MuiTypography-root {
  color: theme("colors.neutral.300") !important;
  font-family: theme("fontFamily.neue-machina-semi") !important;
  font-size: theme("fontSize.xs") !important;
}
.menu-select-naka:hover .text-end-select-naka {
  border: theme("colors.white.primary") !important;
  background-color: theme("colors.white.primary") !important;
}
.menu-select-naka:hover .text-end-select-naka .MuiTypography-root {
  color: theme("colors.primary.main") !important;
  font-family: theme("fontFamily.neue-machina-semi") !important;
  font-size: theme("fontSize.xs") !important;
}

.button-select-naka:hover {
  background: theme("colors.error.main") !important;
  color: theme("colors.white.default") !important;
}

.image-square .select-global-square {
  animation: mymove-global-square-not 1s;
  animation-duration: 0.5s;
}
.image-square .select-global-square:hover {
  animation: mymove-global-square 1s;
  animation-duration: 0.5s;
}
.image-square:hover + .select-square {
  left: 16px !important;
  bottom: 16px !important;
}

@keyframes mymove-global-square {
  0% {
    rotate: -45deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes mymove-global-square-not {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
.slick-slider .slick-slide.slick-active {
  position: relative;
  z-index: 1;
}
.slick-slider .slick-dots {
  position: relative;
  bottom: 0;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}
.slick-slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
}
.slick-slider .slick-dots li button {
  background-color: #f1f4f4;
  width: 14px;
  height: 1px;
  text-indent: -9999px;
  padding: 0;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: #f42728;
}

.slick-slider-w-auto .slick-slider .slick-slide.slick-active {
  position: relative;
  z-index: 1;
  width: auto !important;
}

.slick-slider-dot-right .slick-slider .slick-dots {
  justify-content: flex-start;
}

.progress-bar-energy {
  background: rgb(35, 35, 41) !important;
  background: linear-gradient(
    90deg,
    rgb(1, 1, 1) 50%,
    rgb(35, 35, 41) 50%
  ) !important;
  background-repeat: repeat-x !important;
  background-size: 5% !important;
}

.btn-green-rainbow:hover {
  background: linear-gradient(
    95.05deg,
    #27f1ec 0%,
    #5bff82 63.9%,
    #a0ed61 100.57%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px -13px 60px rgba(0, 255, 130, 0.07),
    0px -5.43109px 25.0666px rgba(0, 255, 130, 0.0503198),
    0px -2.90372px 13.4018px rgba(0, 255, 130, 0.0417275),
    0px -1.6278px 7.51293px rgba(0, 255, 130, 0.035),
    0px -0.864513px 3.99006px rgba(0, 255, 130, 0.0282725),
    0px -0.359743px 1.66035px rgba(0, 255, 130, 0.0196802),
    inset -1px -1px 1px rgba(0, 0, 0, 0.25),
    inset 1px 1px 1px rgba(255, 255, 255, 0.25);
}

.border-pink-rainbow:hover {
  background: linear-gradient(#010101, #010101) padding-box,
    linear-gradient(to right, #27f1ec, #7b5be6, #d91212) border-box;
  border-radius: 13px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px -13px 60px rgba(0, 255, 130, 0.07),
    0px -5.43109px 25.0666px rgba(0, 255, 130, 0.0503198),
    0px -2.90372px 13.4018px rgba(0, 255, 130, 0.0417275),
    0px -1.6278px 7.51293px rgba(0, 255, 130, 0.035),
    0px -0.864513px 3.99006px rgba(0, 255, 130, 0.0282725),
    0px -0.359743px 1.66035px rgba(0, 255, 130, 0.0196802),
    inset -1px -1px 1px rgba(0, 0, 0, 0.25),
    inset 1px 1px 1px rgba(255, 255, 255, 0.25);
}

.border-lemon-rainbow:hover {
  background: linear-gradient(#010101, #010101) padding-box,
    linear-gradient(to right, #27f1ec, #5bff82, #a0ed61) border-box;
  border-radius: 13px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px -13px 60px rgba(0, 255, 130, 0.07),
    0px -5.43109px 25.0666px rgba(0, 255, 130, 0.0503198),
    0px -2.90372px 13.4018px rgba(0, 255, 130, 0.0417275),
    0px -1.6278px 7.51293px rgba(0, 255, 130, 0.035),
    0px -0.864513px 3.99006px rgba(0, 255, 130, 0.0282725),
    0px -0.359743px 1.66035px rgba(0, 255, 130, 0.0196802),
    inset -1px -1px 1px rgba(0, 0, 0, 0.25),
    inset 1px 1px 1px rgba(255, 255, 255, 0.25);
}

.btn-sticky-out {
  width: 88px;
  height: 88px;
  border-radius: 44px;
  background: linear-gradient(#1c1c21, #18181b) padding-box,
    linear-gradient(to bottom, #252627, #18181b) border-box;
  border: 1px solid transparent;
  animation: firCircle 3s ease-in-out infinite;
}

.btn-sticky-in {
  width: 66px;
  height: 66px;
  border-radius: 34px;
  background: linear-gradient(#212125, #222324) padding-box,
    linear-gradient(to bottom, #27282b, #1a1a1e) border-box;
  border: 1px solid transparent;
  position: absolute;
  animation: secCircle 3s ease-in-out infinite;
}

.btn-sticky-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: red;
  position: absolute;
  right: 28%;
  top: 28%;
  animation: dotCircle 3s ease-in-out infinite;
}

.btn-sticky-icon {
  width: 46px;
  height: 46px;
  border-radius: 24px;
  position: absolute !important;
  background: linear-gradient(#202025, #1e1e23) padding-box,
    linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      border-box;
  border: 1px solid transparent;
}

@keyframes firCircle {
  0% {
    scale: 1;
  }
  20% {
    scale: 1;
    opacity: 1;
  }
  25% {
    scale: 1.05;
    opacity: 0.96;
  }
  30% {
    scale: 1;
    opacity: 1;
  }
  35% {
    scale: 1.01;
    opacity: 0.96;
  }
  40% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes secCircle {
  0% {
    scale: 1;
  }
  70% {
    scale: 1;
    opacity: 1;
  }
  75% {
    scale: 1.1;
    opacity: 0.92;
  }
  80% {
    scale: 1;
    opacity: 1;
  }
  85% {
    scale: 1.04;
    opacity: 0.92;
  }
  90% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}
@keyframes dotCircle {
  0% {
    scale: 1;
  }
  20% {
    scale: 1;
  }
  25% {
    scale: 0.6;
  }
  30% {
    scale: 0.8;
  }
  35% {
    scale: 0.7;
  }
  40% {
    scale: 0.8;
  }
  45% {
    scale: 0.8;
  }
  70% {
    scale: 0.8;
  }
  75% {
    scale: 1.2;
  }
  80% {
    scale: 1;
  }
  85% {
    scale: 1.1;
  }
  90% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
.MuiTooltip-tooltipPlacementRight .MuiTooltip-arrow {
  right: auto !important;
  left: 0;
  margin-right: 0 !important;
  margin-left: -0.71em;
}

.MuiTooltip-tooltipPlacementLeft .MuiTooltip-arrow {
  left: auto !important;
  right: 0;
  margin-left: 0 !important;
  margin-right: -0.71em;
}

.naka-banner-icon {
  fill: red;
  filter: drop-shadow(0px 27px 80px rgba(255, 0, 0, 0.38))
    drop-shadow(0px 11.28px 33.4221px rgba(255, 0, 0, 0.273165))
    drop-shadow(0px 6.0308px 17.869px rgba(255, 0, 0, 0.226521))
    drop-shadow(0px 3.38082px 10.0172px rgba(255, 0, 0, 0.19))
    drop-shadow(0px 1.79553px 5.32008px rgba(255, 0, 0, 0.153479))
    drop-shadow(0px 0.747159px 2.21381px rgba(255, 0, 0, 0.106835));
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    fill: red;
    filter: drop-shadow(0px 27px 80px rgba(255, 0, 0, 0.38))
      drop-shadow(0px 11.28px 33.4221px rgba(255, 0, 0, 0.273165))
      drop-shadow(0px 6.0308px 17.869px rgba(255, 0, 0, 0.226521))
      drop-shadow(0px 3.38082px 10.0172px rgba(255, 0, 0, 0.19))
      drop-shadow(0px 1.79553px 5.32008px rgba(255, 0, 0, 0.153479))
      drop-shadow(0px 0.747159px 2.21381px rgba(255, 0, 0, 0.106835));
  }
  90% {
    fill: red;
    filter: drop-shadow(0px 27px 80px rgba(255, 0, 0, 0.38))
      drop-shadow(0px 11.28px 33.4221px rgba(255, 0, 0, 0.273165))
      drop-shadow(0px 6.0308px 17.869px rgba(255, 0, 0, 0.226521))
      drop-shadow(0px 3.38082px 10.0172px rgba(255, 0, 0, 0.19))
      drop-shadow(0px 1.79553px 5.32008px rgba(255, 0, 0, 0.153479))
      drop-shadow(0px 0.747159px 2.21381px rgba(255, 0, 0, 0.106835));
  }
  91.25% {
    fill: #18181c;
    filter: none;
  }
  95% {
    fill: red;
    filter: drop-shadow(0px 27px 80px rgba(255, 0, 0, 0.38))
      drop-shadow(0px 11.28px 33.4221px rgba(255, 0, 0, 0.273165))
      drop-shadow(0px 6.0308px 17.869px rgba(255, 0, 0, 0.226521))
      drop-shadow(0px 3.38082px 10.0172px rgba(255, 0, 0, 0.19))
      drop-shadow(0px 1.79553px 5.32008px rgba(255, 0, 0, 0.153479))
      drop-shadow(0px 0.747159px 2.21381px rgba(255, 0, 0, 0.106835));
  }
  96.25% {
    fill: #18181c;
    filter: none;
  }
  100% {
    fill: red;
    filter: drop-shadow(0px 27px 80px rgba(255, 0, 0, 0.38))
      drop-shadow(0px 11.28px 33.4221px rgba(255, 0, 0, 0.273165))
      drop-shadow(0px 6.0308px 17.869px rgba(255, 0, 0, 0.226521))
      drop-shadow(0px 3.38082px 10.0172px rgba(255, 0, 0, 0.19))
      drop-shadow(0px 1.79553px 5.32008px rgba(255, 0, 0, 0.153479))
      drop-shadow(0px 0.747159px 2.21381px rgba(255, 0, 0, 0.106835));
  }
}
.text-shadow-red {
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.9),
    0px -5.43109px 137.866px rgba(255, 0, 0, 0.646969),
    0px -2.90372px 73.7098px rgba(255, 0, 0, 0.536497),
    0px -1.6278px 41.3211px rgba(255, 0, 0, 0.45),
    0px -0.864513px 21.9453px rgba(255, 0, 0, 0.363503),
    0px -0.359743px 9.13195px rgba(255, 0, 0, 0.253031);
}

.text-shadow-purple {
  text-shadow: 0px 0px 80px rgba(0, 27, 255, 0.42),
    0px 0px 33.4221px rgba(0, 27, 255, 0.301919),
    0px 0px 17.869px rgba(0, 27, 255, 0.250365),
    0px 0px 10.0172px rgba(0, 27, 255, 0.21),
    0px 0px 5.32008px rgba(0, 27, 255, 0.169635),
    0px 0px 2.21381px rgba(0, 27, 255, 0.118081);
}

.hidden-arrow-number input[type="number"]::-webkit-inner-spin-button,
.hidden-arrow-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-metamask-shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.05),
    inset 0px -1px 1px rgba(0, 0, 0, 0.25);
}

.bg-line-linear-gradient {
  background-color: #010101;
  background-image: repeating-linear-gradient(
    hsla(54, 0%, 88%, 0.05) 0px,
    hsla(54, 0%, 88%, 0.05) 2px,
    rgba(1, 1, 1, 0.2) 2px,
    rgba(1, 1, 1, 0.2) 4px
  );
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
}

.svg-shadow-red {
  filter: drop-shadow(0px 0px 80px rgba(240, 3, 37, 0.42))
    drop-shadow(0px 0px 33.4221px rgba(240, 3, 37, 0.301919))
    drop-shadow(0px 0px 17.869px rgba(240, 3, 37, 0.250365))
    drop-shadow(0px 0px 10.0172px rgba(240, 3, 37, 0.21))
    drop-shadow(0px 0px 5.32008px rgba(240, 3, 37, 0.169635))
    drop-shadow(0px 0px 2.21381px rgba(240, 3, 37, 0.118081));
}

.spark {
  background-color: #de4a00;
  visibility: hidden;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  box-shadow: 0 0 10px #f42728;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.radar {
  position: absolute;
  width: 138.91px;
  height: 138.91px;
  border-radius: 100%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(123, 91, 230, 0.9) 0deg,
    rgba(123, 91, 230, 0) 76.88deg,
    rgba(123, 91, 230, 0) 360deg
  );
  transform: rotate(0deg);
  animation: rotationRadar 4s infinite linear;
}

@keyframes rotationRadar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card-link {
    width: -webkit-fill-available;
  }
}

.toast {
  max-width: 400px;
}
.toast > div {
  width: 100%;
}

.hidden-input-number {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  /* Set the appearance to "textfield" to remove the default spinner */
  /* Hide the inner spin button for webkit-based browsers */
  /* Hide the outer spin button for webkit-based browsers */
}
.hidden-input-number::-webkit-inner-spin-button {
  display: none;
}
.hidden-input-number::-webkit-outer-spin-button {
  display: none;
}

.page-full-map::-webkit-scrollbar {
  display: none;
}

.map-wrapper::-webkit-scrollbar {
  display: none;
}

.card-land-panel-wrapper {
  position: relative;
  display: flex;
  height: auto;
  width: 240px;
  flex-direction: column;
  overflow: auto;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  background-color: #18181c;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .card-land-panel-wrapper {
    width: 280px;
  }
}
.card-land-panel-wrapper #_card-land-map-btn-close {
  padding: 0;
}
.card-land-panel-wrapper #_card-land-map-btn-close .MuiSvgIcon-root {
  font-size: 2rem;
}
.card-land-panel-wrapper::-webkit-scrollbar {
  width: 5px;
}
.card-land-panel-wrapper::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.card-land-panel-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-height: 575px) {
  .card-land-panel-wrapper {
    height: 100% !important;
    width: 240px;
    white-space: nowrap;
  }
}

.card-land-map-panel {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #a6a9ae;
}
.card-land-map-panel h1,
.card-land-map-panel h2,
.card-land-map-panel h3,
.card-land-map-panel h4,
.card-land-map-panel h5,
.card-land-map-panel h6 {
  text-transform: uppercase;
  color: #a6a9ae;
}
.card-land-map-panel p {
  font-size: 14px;
  font-weight: 500;
}
.card-land-map-panel .MuiTypography-body1,
.card-land-map-panel .MuiTypography-body2 {
  color: #a6a9ae;
}
@media screen and (max-height: 767px) {
  .card-land-map-panel {
    height: 100%;
    top: 0 !important;
  }
}

.ql-container.ql-snow {
  border: none !important;
  font-family: neueMachina !important;
}

.ql-editor.ql-blank::before {
  color: #4e5057 !important;
  font-style: normal !important;
  font-family: neueMachina !important;
  font-weight: 400 !important;
}

.ql-snow .ql-picker-options {
  background-color: #101013 !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #232329 !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #101013 !important;
}

.ql-snow .ql-picker {
  color: #e1e2e2 !important;
}

.ql-snow .ql-tooltip {
  background-color: #101013 !important;
  border: 1px solid #232329 !important;
  color: #e1e2e2 !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.ql-snow .ql-tooltip input[type="text"] {
  background-color: #18181c !important;
  color: #70727b !important;
  border-color: #232329 !important;
  border-radius: 4px !important;
  outline: none !important;
}

.map-button {
  width: 40px !important;
  height: 40px !important;
  background: rgba(24, 24, 28, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  @apply flex items-center justify-center;
} /*# sourceMappingURL=common.css.map */
